<div class="row">
  <div class="col-xs-2">
    <select class="form-control">
      <option value="">Select City</option>
      <option value="">Hyderabad</option>
      <option value="">Bangalore</option>
      <option value="">Chennai</option>
    </select>
  </div>
  <div class="col-xs-3">
    <select class="form-control">
      <option value="">Select Locality</option>
      <option value="">Alwal</option>
      <option value="">Begumpet</option>
      <option value="">Trimulgherry</option>
    </select>
  </div>
  <div class="col-xs-2">
    <select class="form-control">
      <option value="">Select Service</option>
      <option value="">Plumber</option>
      <option value="">Electrician</option>
      <option value="">Carpenter</option>
    </select>
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder="Search area service more">
    <span class="help-block">Ex:Carpenter in Begumpet </span>
  </div>
  <div class="col-xs-2">
    <button type="button" class="btn btn-success">Search</button>
  </div>

</div>
